# Core dependencies
opencv-python
mediapipe
numpy
pillow

# Web UI
streamlit

# PDF generation
reportlab

# Optional visualization / debugging
matplotlib

# (Optional) AI text instruction generation
google-generativeai
openai

# MCP and Agent
langchain_ollama
langchain_mcp_adapters
fastmcp
langgraph

qdrant-client